<section>
  <form
    action=""
    class="w-75 mx-auto"
    [formGroup]="forgetForm"
    (ngSubmit)="checkEmail()"
  >
    <h2>Enter Your Email</h2>
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        formControlName="email"
        id="userEmail"
        #inputEmail
      />
      <div
        class="alert alert-danger mt-1"
        *ngIf="
          forgetForm.get('email')?.errors &&
          (forgetForm.get('email')?.touched || inputEmail.value.length > 0)
        "
      >
        <p *ngIf="forgetForm.get('email')?.getError('required')">
          Email required
        </p>
        <p *ngIf="forgetForm.get('email')?.getError('email')">
          Email inValid format
        </p>
      </div>
    </div>
    <p class="py-1 font-lg alert alert-danger" *ngIf="msg">{{ msg }}</p>
    <button class="btn btn-auth p-2 font-lg" [disabled]="forgetForm.invalid">
      verify
    </button>
  </form>
</section>
