<section class="container">
  <div class="row border-bottom p-2" *ngFor="let item of data">
    <div class="d-flex justify-content-between">
      <div>
        <p>
          Order Id <span>{{ item.id }}</span>
        </p>
        <p>
          isDelivered <span>{{ item.isDelivered }}</span>
        </p>
        <p>
          isPaid <span>{{ item.isPaid }}</span>
        </p>
        <p>
          Totale Order Price <span>{{ item.totalOrderPrice }}</span>
        </p>
      </div>
      <div
        *ngFor="let cart of item.cartItems"
        class="d-flex flex-column justify-content-center"
      >
        <p>
          Title <span>{{ cart.product.title | tirmtext : 2 }}</span>
        </p>
        <p>
          Brand Name <span>{{ cart.product.brand.name }}</span>
        </p>
        <p>
          Rating <span>{{ cart.product.ratingsAverage }}</span>
        </p>
      </div>
    </div>
  </div>
</section>
