.btn-pay,
.btn-pay:hover {
  background-color: #438c9c;
  border: 1px solid #8ebec9;
  color: #8ebec9;
}
button[disabled] {
  background-color: transparent;
  border: 1px solid #8ebec9;
  color: #8ebec9;
}
