<section class="p-3">
  <h2 class="text-center">Login Now</h2>
  <form
    action=""
    class="w-75 mx-auto"
    [formGroup]="loginForm"
    (ngSubmit)="checkUser()"
  >
    <div class="mb-3">
      <label for="userEmail" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="userEmail"
        formControlName="email"
        #inputEmail
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="
        loginForm.get('email')?.errors &&
        (loginForm.get('email')?.touched || inputEmail.value.length > 0)
      "
    >
      <p *ngIf="loginForm.get('email')?.getError('required')">Email required</p>
      <p *ngIf="loginForm.get('email')?.getError('email')">
        Email inValid format
      </p>
    </div>
    <div class="mb-3">
      <label for="userPass" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="userPass"
        formControlName="password"
        #inputPass
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="
        loginForm.get('password')?.errors &&
        (loginForm.get('password')?.touched || inputPass.value.length > 0)
      "
    >
      <p *ngIf="loginForm.get('password')?.getError('required')">
        Password required
      </p>
      <p *ngIf="loginForm.get('password')?.getError('pattern')">
        Password must start with upperCase then from 6 to 10
      </p>
    </div>
    <button
      class="btn btn-auth p-2 font-lg ms-auto d-block"
      [disabled]="loginForm.invalid"
    >
      <i
        class="fa-solid fa-spinner fa-spin fa-rotate-270"
        *ngIf="isLoading"
      ></i>
      Login now
    </button>

    <p class="alert alert-danger mt-2" *ngIf="msg">{{ msg }}</p>

    <a routerLink="/forgetpassword" class="font-lg">forget your password ?</a>
  </form>
</section>
