<section class="p-3">
  <h2 class="text-center">Enter New Password</h2>
  <form
    class="w-75 mx-auto"
    [formGroup]="resetPassword"
    (ngSubmit)="checkForm()"
  >
    <div class="mb-3">
      <label for="userEmail">Email</label>
      <input
        type="email"
        class="form-control"
        id="userEmail"
        #inputEmail
        formControlName="email"
      />
      <div
        class="alert alert-danger mt-1"
        *ngIf="
          resetPassword.get('email')?.errors &&
          (resetPassword.get('email')?.touched || inputEmail.value.length > 0)
        "
      >
        <p *ngIf="resetPassword.get('email')?.getError('required')">
          Email required
        </p>
        <p *ngIf="resetPassword.get('email')?.getError('email')">
          Email inValid format
        </p>
      </div>
    </div>

    <div class="mb-3">
      <label for="newUserPass" class="form-label">New Password</label>
      <input
        type="password"
        class="form-control"
        id="newUserPass"
        #inputPass
        formControlName="newPassword"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="
        resetPassword.get('newPassword')?.errors &&
        (resetPassword.get('newPassword')?.touched ||
          inputPass.value.length > 0)
      "
    >
      <p *ngIf="resetPassword.get('newPassword')?.getError('required')">
        Password required
      </p>
      <p *ngIf="resetPassword.get('newPassword')?.getError('pattern')">
        Password must start with upperCase then from 6 to 10
      </p>
    </div>
    <p class="alert alert-danger" *ngIf="msg">{{ msg }}</p>
    <button class="btn btn-auth p-2 font-lg" [disabled]="resetPassword.invalid">
      Reset Password
    </button>
  </form>
</section>
